In [2]:
import pandas as pd

In [25]:
df = pd.read_csv('Описание_структуры_данных_ГИСП.csv', encoding='windows-1251', sep = ';')

In [29]:
df.head()

,field name,english description,russian description,format
0,ID,Record ID,Идентификатор записи,integer
1,URL,Record URL,URL записи,string
2,SMALL_NAME,Name for the support measure,Краткое наименование меры поддержки,string
3,FULL_NAME,Full name for support measure,Полное наименование меры поддержки,string
4,NUMBER_NPA,NPA number for support measure,Номер НПА меры поддержки,string

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   field name           38 non-null     object
 1   english description  38 non-null     object
 2   russian description  38 non-null     object
 3   format               38 non-null     object
dtypes: object(4)
memory usage: 1.3+ KB

In [28]:
df.columns

Index(['field name', 'english description', 'russian description', 'format'], dtype='object')

In [31]:
df.describe()

,field name,english description,russian description,format
count,38,38,38,38
unique,38,38,38,4
top,GUARANTEE_COST,Format of support measure,Мера поддержки неактивна,string
freq,1,1,1,34